* {
	margin: 0;
	padding: 0;
	background-color: grey;
}

html {
	background-color: black;
	/* can't select text */
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */  
}

body {
	background-color: black;
	height: 700px;
	width: 700px;
	margin-left: 50vw;
	margin-top: 50vh;
	transform: translate(-50%,-50%);
	overflow: hidden;
}
